* {
  box-sizing: border-box;
}

body{
    background-color: lightblue;
}
  
h1{
    color: darkslateblue;
}
  
.container{
    background-color: lightgoldenrodyellow;  
    display: flex;
    justify-content: space-around;
}

.box{
    padding: 10px;
    /* float: left; */
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    /* text-align: center */
}

.grid{
  display: grid;
  width: 150px;
  height: 150px;
  grid-template: 50px 50px 50px / 50px 50px 50px;
  /* auto auto auto / auto auto auto; */
}

.cell{
  background-color: lightgoldenrodyellow;
  border: 1px solid black;
  padding: 12px;
  font-size: 20px;
  text-align: center;
}

#instructions{
  width: 70%;
  /* height: 30vh;  use max somehow? or min?*/
}

#operations{
  display: flex;
  justify-content: center;
  border-style:dotted;
  width: 30%;
}

#box-for-grid{
  background-color: lightgreen;
  width: 50%;
}



#box4{
  display: flex;
  justify-content: center;
  background-color: pink;
  width: 50%;
}
  
button{
    background-color: pink;
  }