body {
    background-color: lightblue;
}
  
h1 {
    color: darkslateblue;
}

button{
  background-color: thistle;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
}
  
.container { 
    display: flex;
    justify-content: space-around;
}

.box {
    padding: 10px;
    align-items: center;
}

.grid {
  display: grid;
  width: 150px;
  height: 150px;
  grid-template: 50px 50px 50px / 50px 50px 50px;
}

.cell {
  background-color: lightgoldenrodyellow;
  border: 1px solid black;
  padding: 12px;
  font-size: 20px;
  text-align: center;
}

.after-roll .after-choice {
  visibility: "hidden";
}

.after-choice {
  visibility: "hidden";
}


#instructions {
  width: 60%;
}

#operations {
  display: flex;
  justify-content: center;
  border-style: dotted;
  border-radius: 20px;
  background-color:azure;
  /* width: 40%; */
}

#box-for-grid {
  width: 40%;
}

#box-roll {
  width: 60%;
}
